@tailwind base;
@tailwind components;
@tailwind utilities;

@import "katex/dist/katex.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

math-field {
  min-width: 200px;
  font-size: 1.2em;
  background: rgb(249 250 251);
}

math-field:focus {
  outline: none;
}

math-field:focus-visible {
  outline: none;
}

/* Hide the keyboard toggle button */
math-field::part(virtual-keyboard-toggle) {
  display: none;
}

/* Hide the menu toggle button */
math-field::part(menu-toggle) {
  display: none;
}

.ProseMirror {
  min-height: 100vh;
  outline: none;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.ProseMirror h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
